{% extends 'base.html.twig' %}

{% block title %}Informations{% endblock %}

{% block body %}

<div class="example-wrapper">
    <p>Utilises "reponse"</p>
    <div class="releasesCarte">
        <img src="" class="releasesImage"/>
        <div class="releasesContenu">
            <h2 class="releasesTitre">{{reponse.title}}</h2>
            <ul class="releasesStatistiques">
                <li>
                    {{reponse.title}}
                    ({{reponse.year}})
                    par {{reponse.artists[0].name}}
                    <!-- les stats-->
                </li>    
            </ul>
            <nav class="releasesNav">
                <button class="realeasesAjouterFavoris"> Ajouter </button>
            </nav>    
        </div>    
    </div>
    {% for key,item in reponse %}
        <pre>
            {{ dump(key, item) }}
        </pre>
    {% endfor %}
</div>
{% endblock %}
