{% extends 'base.html.twig' %}

{% block title %}Informations{% endblock %}

{% block body %}

<div class="example-wrapper">
    <div class="releasesCarte">
        <img src="{{ image }}" class="releasesImage"/>
        <div class="releasesContenu">
            <h3 class="releasesTitre">{{reponse.title}}</h3>
            <ul class="releasesStatistiques">
                <li>
                    {{reponse.title}}
                    <br>
                    par {{reponse.artists[0].name}} <br>
                    {% if reponse.year is defined and reponse.year != 0 %}
                        {{ reponse.year }}
                    {% endif %}
                    {% if reponse.styles is defined and reponse.styles|length > 1 %}
                    <p class="styleEtGenreTexte"> Styles : </p>
                        <ul>
                            {% for style in reponse.styles %}
                                <li class="styleEtGenreTexte"> - {{ style }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                    <p class="styleEtGenreTexte"> Style : </p>
                    <ul>
                        {% if reponse.styled[0] is defined %}
                        <li class="styleEtGenreTexte"> - {{reponse.styles[0]}} </li>
                        {%endif%}
                    </ul>
                    {% endif %}
                    {% if reponse.genres is defined and reponse.genres|length > 1 %}
                    <p class="styleEtGenreTexte"> Genres : </p>
                        <ul>
                            {% if genre is defined %}
                            {% for genre in reponse.genres %}
                                <li class="styleEtGenreTexte"> - {{ genre }}</li>
                            {% endfor %}
                            {%endif%}
                        </ul>
                    {% else %}
                    <p class="styleEtGenreTexte"> Genre : </p>
                    <ul>
                        {% if reponse.genres[0] is defined %}
                        <li class="styleEtGenreTexte"> - {{reponse.genres[0]}} </li>
                        {%endif%}
                    </ul>
                    {% endif %}
                    <!-- les stats-->
                </li>    
            </ul>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <form action="{{ path('app_release', {'idRelease': reponse.id}) }}" method="post">
                <button type="submit" class="realeasesAjouterFavoris">Ajouter</button>
            </form>
            {% endif %}
        </div>    
    </div>
    <br>
    {% if reponse.tracklist is defined %}
    <div class="tracklistConteneur">
    <h2 class="titreDivTrack"> Tracklist </h2>
    {% for track in reponse.tracklist %}

        <div class="track"> 
            {% if track.duration is defined and track.duration != "" %}
           <h3 class="trackTitre"> {{ track.title }} - {{ track.duration }}</h3>
           {% else %}
           <h3 class="trackTitre"> {{ track.title }}</h3>
           {%endif%}

           <!-- Élémeénts de la tracklists (durée et position) s'ils sont définis-->
            {% if track.extraartists is defined %}
                {% if track.extraartists|length > 1 %}
                <p class="trackAvec"> Avec : </p>
                {% for artist in track.extraartists %}
                     <p class="trackArtistes"> - {{artist.name}} </p>
                {% endfor %}
                {% else %}
                <p class="trackAvec"> Avec : </p>
                <p class="trackArtistes"> - {{track.extraartists[0].name}}
                {% endif %}
            {% endif %}

            {% if track.artists is defined %}
                {% if track.artists|length > 1 %}
                    <p class="trackAvec"> Avec : </p>
                    {% for artist in track.artists %}
                        <p class="trackArtistes"> - {{artist.name}} </p>
                    {% endfor %}
                    {% else %}
                    <p class="trackAvec"> Avec : </p>
                    <p class="trackArtistes"> - {{track.artists[0].name}}
                {% endif %}
            {% endif %}
        </div>

    {% endfor %}
    {# #}
    </div>
    {%endif%}
</div>
{% endblock %}
