{% extends 'base.html.twig' %}

{% block title %}Liste{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <main>
        <section class="top-section">
            <section class="profil-button">
                <img src="{{ asset('img/icone-profil.png') }}" class="profil-logo">
                <section class="dropdown-content">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a href="#" class="top">My Discography</a>
                    <a href="{{ path('app_logout') }}" class="bottom">Log Out</a>
                    {% else %}
                    <a href="{{ path('app_login') }}" class="bottom">Log In</a>
                    <a href="{{ path('app_register') }}" class="bottom">Register</a>
                    {% endif %}
                </section>
            </section>
            <img src="{{ asset('img/tuttitle.png') }}" class="title">
            <h2>Choose a random fruit or select one !</h2>
        </section>

        <section class="cards-music">
            {# Liste des résultat de la recherche #}
            {% for item in reponse %}
                <section class="card">
                    {% if item.cover_image %}
                        <img src="{{ item.cover_image }}" class="cover-image">
                    {% endif %}
                    <p><a target="_blank" class="card-title" href="/release/{{item.id}}">{{item.title}}</a></p>
                </section>
            {% endfor %}

            {% set firstPage = false %}
            {% if pagination.page == 1 %}
                {% set firstPage = true %}
            {% endif %}

            {% set lastPage = false %}
            {% if pagination.page == pagination.pages %}
                {% set lastPage = true %}
            {% endif %}

        </section>

        <section class="mid-section">
            {# Pagination #}
            <p>
                {% if not firstPage %}
                <a href="/list_query/{{ fruit }}/page-{{ pagination.page - 1 }}">
                    {% endif %}
                    <
                    {% if not firstPage %}
                </a>
                {% endif %}

                Page : {{ pagination.page }} / {{ pagination.pages }}
                {% if not lastPage %}
                <a href="/list_query/{{ fruit }}/page-{{ pagination.page + 1 }}">
                    {% endif %}
                    >
                    {% if not lastPage %}
                </a>
                {% endif %}
        </section>
        </section>
    </main>


{% endblock %}
